:root {
  --primary-color: pink;
  --secondary-color: white;
  --tertiary-color: lavender;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  color: var(--primary-color);
  font-family: Verdana, Tahoma, sans-serif;
}


header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header nav {
    margin: 7px 0;
  }

header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 5px;
    text-shadow: none;
}  

.bio {
  text-align: center;
}

.bio h2 {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 35px;
  color: gray;
  margin-bottom: 10px;
  padding: 20px 0 5px 0;
}

.bio p {
  line-height: 1.7;
  color: gray;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 300px 30px 300px;
}

footer {
  background: var(--primary-color);
  width: 100%;
  padding: 30px 70px;
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--tertiary-color);
  border-radius: 5px;
  text-shadow: none;
}