:root {
    --primary-color: red
    --secondary-color: black
    --tertiary-color: 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: var(--primary-color);
    font-family: Verdana, Tahoma, sans-serif;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav {
    margin: 7px 0;
  }

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}  